* {
    margin: 0;
    padding: 0;
    font-family: "helvetica";
}

body {
    background: #fff;
}

.content {
    /* margin: 0px 30px; */
    background: #E6E6E6;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    " header header header header header header "
    " nav nav nav nav nav nav "
    " main main main main main main "
    " aside aside aside aside aside aside "
    " footer footer footer footer footer footer "
    ;
}

header {
    grid-area: header;
    background: #F2F1F1;
}

header img {
    display: block;
    margin: 6px auto;
    float: center;
    height: 90px;
}

header h2 {
    text-align: center;
    display: block;
    font-family: Pacifico,cursive;
    font-style: italic;
}

nav {
    grid-area: nav;
    background: #009F00;
}

nav ul a li {
    display: inline-flex;
    padding: 12px 12px;
}

nav ul a {
    color: #FFF;
    text-decoration: none;
}

nav ul a li:hover, nav ul a li:focus {
    background: #01CFFF;
    color: #000;
}

main {
    grid-area: main;
}

main table {
    border-collapse: collapse;
    margin: 6px auto;
}

main table thead tr th, main table tbody tr td {
    padding: 6px 12px;
    border: 1px solid black;
}

main table tr th input {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1.1em;
}

main table tbody tr td {
    text-align: center;
}

main table tbody tr th {
    padding: 6px;
}

main ul li {
    text-align: center;
    padding: 6px;
}

main ul li input {
    border: 0;
    border-bottom: 2px solid #999;
    background: none;
}

main p {
    text-align: center;
}

footer {
    grid-area: footer;
    background: #01CFFF;
    text-align: center;
    padding: 6px;
    color: white;
}

.Next {
    margin: 6px auto;
    display: block;
}

button {
    background: #009F00;
    padding: 9px 30px;
    border: black;
    color: #FFF;
    border-radius: 12px;
    font-size: 15px;
    border-bottom: 5px solid #009F00;
    text-align: center;
}

button:hover, button:focus {
    font-weight: bold;
    color: #FFF;
}

button:active {
    color: #000;
}


/******** MODAL **********/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100% ;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.4);
}

.modal-content {
    background: #f4f4f4;
    margin: 12% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2)
}

.modal-header h4 {
    text-align: center;
    color: #01CFFF;
}

#closeModal {
    font-size: 42px;
    color: #999999;
    cursor: pointer;
    padding: 0;
}

#closeModal:hover, .closeModal:focus {
    color: #000;
    cursor: pointer;
}

.modal-body {
    padding: 6px auto;
}

.modal-body ul li {
    list-style: none;
    margin: 12px;
    text-align: center;
}

.modal-body ul li input {
    border: none;
    border-bottom: 2px solid #999;
    background: #f4f4f4;
}

.modal-body ul li button {
    margin: 6px auto;
    display: block;
}

.right {
    float: right;
}
